@model BTH112.Models.Sinhvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sinhvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.masv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.masv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lophoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lophoc.malop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.tensv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
